## :robot: Safe-Settings Settings Dry-Run Summary

* Run on: `<%= new Date() %>`

* Number of repos that were considered: `<%= Object.keys(it.reposProcessed).length  %>`

### Breakdown of changes

<table>
  <tr>
  <th>Name</th>
  <% Object.keys(it.changes).forEach(plugin => { %>
    <th><%= plugin %> settings</th>
  <% }) %>
  </tr>
  <% Object.keys(it.reposProcessed).forEach( repo => { %>
    <tr>
      <td><%= repo %></td>
    <% Object.keys(it.changes).forEach(plugin => { %>
      <% if (it.changes[plugin][repo]) { %>
        <td>:hand:</td>
      <% } else { %>
        <td>:grey_exclamation:</td>
      <% } %>
    <% }) %>
    </tr>
  <% }) %>
</table>

:hand: -> Changes to be applied to the GitHub repository.
:grey_exclamation: -> nothing to be changed in that particular GitHub repository.

### Breakdown of errors

<% if (Object.keys(it.errors).length === 0) { %>
`None`
<% } else { %>
  <% Object.keys(it.errors).forEach(repo => { %>
    <%= repo %>: <%= it.errors[repo] %>
  <% }) %>
<% } %>
